
<div class="row">
	<div class="col-lg-12 head-margin"><br><br>
		<ul class="breadcrumb breadgrum-margin">
			<li><a data-ui-sref="dashboard.home">Home</a></li>
			<li><a data-ui-sref="dashboard.unitMaster">Unit Master</a></li>
		</ul>
		<h1 class="page-header no-margin">Unit Master SetUp</h1>
	</div>
</div>
	<div class="row">
		<form class="form-horizontal" name="userform">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">Unit Master Setup</div>
					<div class="panel-body">
						<div class="form-group">
							<label class="inline control-label col-xs-2">Sub Division ID*</label>
							<div class="col-xs-3">
							 	<select class="form-control" data-ng-model="subdivi" data-ng-change="changeSubDivision()" data-ng-options="subdivision.id as subdivision.subDivisionId for subdivision in subdivisons">
								 	<option value="">Select Sub Division Id</option>
								</select>
   							</div>
							<label class="inline control-label col-xs-2">Sub Division Name*</label>
							<div class="col-xs-3">
								<input type="text" class="form-control" data-ng-model="form.subDivisionMaster.name" disabled>
							</div>
						</div>
 						<div class="form-group">
							<label class="control-label col-xs-2">Division Name*</label>
							<div class="col-xs-3">
 								<input type="text" class="form-control" data-ng-model="form.subDivisionMaster.divisionMaster.name" disabled>
 							</div>
							<label class="control-label col-xs-2">Company Name*</label>
							<div class="col-xs-3">
								<input type="text" class="form-control" data-ng-model="form.subDivisionMaster.divisionMaster.companyMaster.name" disabled>
							</div>
						</div>
						
						<div class="panel-footer">
							<div class="form-group">
								<label class="inline control-label col-xs-2">Unit Name*</label>
								<div class="col-xs-3">
									<input type="text" class="form-control" data-ng-model="form.name"  placeholder="Unit Name" required>
								</div>
 							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="panel panel-default">
 										<div class="panel-body">
											<div class="table-responsive">
												 <table class="table table-striped table-bordered">
													<thead>
														<tr>
															<th width="40%">Locations</th>
															<th width="40%"></th>
															<th width="20%">Actions</th>
 												 		</tr>
													</thead>
													<tbody>
														<tr>
															<td>
															 	<select class="form-control"  data-ng-model="location">
																 	<option value="">Select Location</option>
																 	<option value="1">sheds</option>
																 	<option value="2">Staff Quarters</option>
																 	<option value="3">Cold Room</option>
																 	<option value="4">Buildings</option>
																 	<option value="5">Facilities</option>
																</select>
															</td>
															<td data-ng-show="emptyDown"><select class="form-control">
																 	<option value="">--Select--</option>
 																</select>
															</td>
															
															<td data-ng-if="location==1">
															 	<select class="form-control" data-ng-change="changeLocation()" data-ng-model="shedd" data-ng-options="shed.id as shed.name for shed in sheds">
																 	<option value="">Select Shed</option>
																</select>
 															</td>
															<td data-ng-if="location==2">
															 	<select class="form-control" data-ng-change="changeLocation()" data-ng-model="staff" data-ng-options="staff.id as staff.name for staff in staffQuarters">
																 	<option value="">Select Staff Quarters</option>
																</select>
															</td>
															<td data-ng-if="location==3">
															 	<select class="form-control" data-ng-change="changeLocation()" data-ng-model="coldy" data-ng-options="cold.id as cold.name for cold in coldRooms">
																 	<option value="">Select Cold Room</option>
																</select>
															</td>
															
															<td data-ng-if="location==4">
															 	<select class="form-control" data-ng-change="changeLocation()" data-ng-model="buildy" data-ng-options="build.id as build.name for build in buildings">
																 	<option value="">Select Buildings</option>
																</select>

															</td>
															<td data-ng-if="location==5">
															 	<select class="form-control" data-ng-change="changeLocation()" data-ng-model="faci" data-ng-options="facility.id as facility.name for facility in facilities">
																 	<option value="">Select Facilities</option>
																</select>
 															</td>
															<td><button type="button" class="btn btn-primary btn-circle btn-sl" data-ng-click="addRow()">
															<i class="fa fa-plus"></i></button>
															</td>
														</tr>
														<tr data-ng-repeat="">
															<td></td>
															<td></td>
 															<td><button type="button" class="btn btn-danger btn-circle btn-sl" data-ng-click="deleteRow($index)">
															<i class="fa fa-close"></i></button></td>
															</tr>
													</tbody>
												</table>
												</div>
											<!-- /.table-responsive -->
										</div>
										<!-- /.panel-body -->
									</div>
									<!-- /.panel -->
								</div>
								<!-- /.col-lg-6 -->
							</div>
						</div>
						<div class="panel-body">
 							<button type="button" class="btn btn-warning pull-left cancel-btn" data-ng-click="cancelAdd()">Cancel</button>
							<button type="button" class="btn btn-primary pull-right save-btn" data-ng-click="addUnit()">Save</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
 