
<div class="row">
	<div class="col-lg-12 head-margin"><br><br>
		<ul class="breadcrumb breadgrum-margin">
			<li><a data-ui-sref="dashboard.home">Home</a></li>
			<li><a data-ui-sref="dashboard.capexReg">CAPEX Budget Registration </a></li>
		</ul>
		<h1 class="page-header no-margin">CAPEX Budget Registration</h1>
	</div>
</div>
	<div class="row">
		<form class="form-horizontal" name="userform">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">CAPEX Budget Registration</div>
					<div class="panel-body">
						<div class="form-group">
							<label class="inline control-label col-xs-2">Capex Requisition No*</label>
							<div class="col-xs-3">
								<input type="text" class="form-control"  disabled>
   							</div>
							<label class="inline control-label col-xs-2">Capex Requisition Date*</label>
							<div class="col-xs-3">
								<input type="text" class="form-control" data-ng-model="sysDate" disabled>
							</div>
						</div>
 						<div class="form-group">
							<label class="control-label col-xs-2">Unit*</label>
							<div class="col-xs-3">
								<select class="form-control" data-ng-model="unitt" data-ng-change="unitChange()" data-ng-options="unit.id as unit.name for unit in units">
								 	<option value="">Select </option>
								</select> 		
							</div>
							<label class="control-label col-xs-2">Department*</label>
							<div class="col-xs-3">
								<select class="form-control"  >
								 	<option value="">Select </option>
								</select> 		
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-xs-2">Sub Division*</label>
							<div class="col-xs-3">
								 <input type="text" class="form-control" data-ng-model="form.unit.subDivisionMaster.name" disabled>
 							</div>
							<label class="control-label col-xs-2">Sub Division ID*</label>
							<div class="col-xs-3">
								<input type="text" class="form-control" data-ng-model="form.unit.subDivisionMaster.subDivisionId" disabled>
							</div>
						</div>
						
 						<div class="form-group">
							<label class="control-label col-xs-2">Capex to be incured by*</label>
							<div class="col-xs-3">
								 <input type="text" class="form-control" data-ng-model="form.unit.subDivisionMaster.divisionMaster.companyMaster.name" disabled>
  							</div>
							<label class="control-label col-xs-2">Company ID*</label>
							<div class="col-xs-3">
								<input type="text" class="form-control" data-ng-model="form.unit.subDivisionMaster.divisionMaster.companyMaster.companyId" disabled>
							</div>
						</div>
 						<div class="form-group">
							<label class="control-label col-xs-2">Division*</label>
							<div class="col-xs-3">
							<input type="text" class="form-control" data-ng-model="form.unit.subDivisionMaster.divisionMaster.name" disabled>
 							</div>
							<label class="control-label col-xs-2">Division ID*</label>
							<div class="col-xs-3">
								<input type="text" class="form-control" data-ng-model="form.unit.subDivisionMaster.divisionMaster.divisionId" disabled>
							</div>
						</div>
  						<div class="form-group">
							<label class="control-label col-xs-2">Capex Description*</label>
							<div class="col-xs-8">
								<input type="text" class="form-control"   placeholder="Capex Description" required>
  							</div>
 						</div>
						
					<div class="panel-footer">
						<div class="form-group">
							<label class="control-label col-xs-2">Location*</label>
							<div class="col-xs-3">
								<select class="form-control"  >
								 	<option value="">Select </option>
								</select> 		
							</div>
							<label class="control-label col-xs-2">Cold Room*</label>
							<div class="col-xs-3">
								<select class="form-control"  >
								 	<option value="">Select </option>
								</select> 		
							</div>
						</div>
 						<div class="form-group">
							<label class="control-label col-xs-2">Shed*</label>
							<div class="col-xs-3">
								<select class="form-control"  >
								 	<option value="">Select </option>
								</select> 		
							</div>
							<label class="control-label col-xs-2">Facilities*</label>
							<div class="col-xs-3">
								<select class="form-control"  >
								 	<option value="">Select </option>
								</select> 		
							</div>
						</div>
 						<div class="form-group">
							<label class="control-label col-xs-2">Building*</label>
							<div class="col-xs-3">
								<select class="form-control"  >
								 	<option value="">Select </option>
								</select> 		
							</div>
 						</div>
 						<div class="form-group">
							<label class="control-label col-xs-2">Asset Class Name*</label>
							<div class="col-xs-3">
								<select class="form-control"  >
								 	<option value="">Select </option>
								</select> 		
							</div>
							<label class="control-label col-xs-2">Asset Type Name*</label>
							<div class="col-xs-3">
								<select class="form-control"  >
								 	<option value="">Select </option>
								</select> 		
							</div>
						</div>
						<div class="row">
								<div class="col-lg-12">
									<div class="panel panel-default">
 										<div class="panel-body">
											<div class="form-group">
												<label class="control-label col-xs-2">Year*</label>
												<div class="col-xs-3">
													<select class="form-control"  >
														<option value="">Select </option>
													</select> 		
												</div>
												<label class="control-label col-xs-2">Month*</label>
												<div class="col-xs-3">
													<select class="form-control"  >
														<option value="">Select </option>
													</select> 		
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-xs-2">Cost*</label>
												<div class="col-xs-3">
													<input type="text" class="form-control"  >
												</div>
												<label class="control-label col-xs-2">Taxes*</label>
												<div class="col-xs-3">
													<input type="text" class="form-control"  >
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-xs-2">Total Cost/Tax*</label>
												<div class="col-xs-3">
													<input type="text" class="form-control"  >
												</div>
  											</div>
 									</div>
 								</div>
 							</div>
   							<div class="row">
								<div class="col-lg-12">
									<div class="panel panel-default">
 											<div class="table-responsive">
												 <table class="table table-striped table-bordered">
													<thead>
														<tr>
															<th>Asset Class</th>
															<th>Asset Type</th>
															<th>Period</th>
															<th>Year</th>															
															<th>Month</th>
															<th>Qty</th>
															<th>Cost</th>
															<th>Rate</th>
															<th>UOM</th>
															<th>Tax</th>
															<th>Total Cost</th>
															
												 		</tr>
													</thead>
													<tbody>
													<tr>
															<td>XXXX</td>
															<td>XXX</td>
															<td>XXX</td>
															<td>XXX</td>															
															<td>XXXX</td>
															<td>XXXX</td>
															<td>XX</td>
															<td>XX</td>
															<td>XX</td>
															<td>XX</td>
															<td>XX XX</td>
														</tr>	
													
  													</tbody>
												</table>
												</div>
											<!-- /.table-responsive -->
 									</div>
									<!-- /.panel -->
								</div>
								<!-- /.col-lg-6 -->
							</div>
						</div>
						<div class="panel-body">
 							<button type="button" class="btn btn-warning pull-left cancel-btn" data-ng-click="cancelAdd()">Cancel</button>
							<button type="button" class="btn btn-primary pull-right save-btn" data-ng-click="addUnit()">Save</button>
						</div>
					</div>
				</div>
			</div>
			</div>
		</form>
	</div>
 