
<div class="row">
	<div class="col-lg-12 head-margin"><br><br>
		<ul class="breadcrumb breadgrum-margin">
			<li><a data-ui-sref="dashboard.home">Home</a></li>
			<li><a data-ui-sref="dashboard.capexReg">CAPEX Budget Registration </a></li>
		</ul>
		<h4 class="page-header no-margin">CAPEX Budget requested by <font style="color: #f45642">{{budget.user.name}}</font></h4>
	</div>
</div>
	<div class="row">
		<form class="form-horizontal" name="userform">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">CAPEX Budget</div>
					<div class="panel-body">
						<div class="form-group">
							<label class="inline control-label col-xs-2">Capex Requisition No*</label>
							<div class="col-xs-3" style="margin-top: 6px">
								:	{{budget.id}}
   							</div>
							<label class="inline control-label col-xs-2">Capex Requisition Date*</label>
							<div class="col-xs-3" style="margin-top: 6px">
								:	{{budget.date}}
							</div>
						</div>
 						<div class="form-group">
							<label class="control-label col-xs-2">Capex to be incured by*</label>
							<div class="col-xs-3" style="margin-top: 6px">
								:	{{budget.unitMaster.subDivisionMaster.divisionMaster.companyMaster.name}}	 	
  							</div>
							<label class="control-label col-xs-2">Company ID*</label>
							<div class="col-xs-3" style="margin-top: 6px">
								:	{{budget.unitMaster.subDivisionMaster.divisionMaster.companyMaster.id}}
							</div>
						</div>
					 <div class="form-group">
							<label class="control-label col-xs-2">Division*</label>
							<div class="col-xs-3" style="margin-top: 6px">
								:	{{budget.unitMaster.subDivisionMaster.divisionMaster.name}}	 	
							</div>
							<label class="control-label col-xs-2">Division ID*</label>
							<div class="col-xs-3" style="margin-top: 6px">
								:	{{budget.unitMaster.subDivisionMaster.divisionMaster.id}}
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-2">Sub Division*</label>
							<div class="col-xs-3" style="margin-top: 6px">
								:	{{budget.unitMaster.subDivisionMaster.name}}
 							</div>
							<label class="control-label col-xs-2">Sub Division ID*</label>
							<div class="col-xs-3" style="margin-top: 6px">
								:	{{budget.unitMaster.subDivisionMaster.id}}
							</div>
						</div>
						
		
 						<div class="form-group">
							<label class="control-label col-xs-2">Unit*</label>
							<div class="col-xs-3" style="margin-top: 6px">
								:	{{budget.unitMaster.name}}
 							</div>
							<label class="control-label col-xs-2">Department*</label>
							<div class="col-xs-3" style="margin-top: 6px">
								:	{{budget.department.name}}
 							</div>
						</div>
						
 					<div class="panel-footer">
						<div class="form-group">
							<label class="control-label col-xs-2">Location*</label>
							<div class="col-xs-3" style="margin-top: 6px">
								:	{{budget.unitLocations.locations.name}}
 							</div>
							<label class="control-label col-xs-2">Location Name*</label>
 							<div class="col-xs-3" style="margin-top: 6px">
								:	{{budget.unitLocations.locationName.name}}		
							</div>
						</div>
 						<div class="row">
 								<div class="col-lg-12">
									<div class="panel panel-default">
 											<div class="table-responsive">
												 <table class="table table-striped table-bordered">
													<thead>
														<tr>
															<th>Asset Class</th>
															<th>Asset Type</th>
 															<th>Year</th>															
															<th>Month</th>
															<th>Cost</th>
															<th>Rate/Unit</th>
															<th>Qty</th>
															<th>UOM</th>
															<th>Tax</th>
															<th>Total Cost</th>
 															
												 		</tr>
													</thead>
													<tbody>
													<tr data-ng-repeat="quarter in budget.quarters">
															<td>{{quarter.assetClassMaster.name}}</td>
															<td>{{quarter.assetCategoriesMaster.name}}</td>
															<td>{{years[quarter.year]}}</td>
															<td>{{quartersList[quarter.quarter]}}</td>															
															<td>{{quarter.cost | INR}}</td>
															<td>{{quarter.rate | INR}}</td>
															<td>{{quarter.qty}}</td>
															<td>{{quarter.uom.name}}</td>
															<td>{{quarter.tax}}</td>
															<td>{{quarter.total | INR}}</td>
 														</tr>	
   													</tbody>
												</table>
												</div>
											<!-- /.table-responsive -->
 									</div>
									<!-- /.panel -->
								</div>
 						</div>
 						<div class="row" data-ng-show="budget.status!==0">
							<div class="col-lg-12">
								<div class="panel panel-default">
									<div class="form-group">
										<label class="inline control-label col-xs-2">HoD Approved Remarks</label>
										<div class="col-xs-3" style="margin-top: 6px">
											:	{{budget.hodApproveRemarks}}
			   							</div>
										<label class="inline control-label col-xs-2">HoD Rejected Remarks</label>
										<div class="col-xs-3" style="margin-top: 6px">
											:	{{budget.hodRejectRemarks}}
										</div>
									</div>
									<div class="form-group">
										<label class="inline control-label col-xs-2">Manager Approved Remarks</label>
										<div class="col-xs-3" style="margin-top: 6px">
											:	{{budget.managerApproveRemarks}}
			   							</div>
										<label class="inline control-label col-xs-2">Manager Rejected Remarks</label>
										<div class="col-xs-3" style="margin-top: 6px">
											:	{{budget.managerRejectRemarks}}
										</div>
									</div>
 								</div>
 							</div>
						</div>
 						
						<div class="panel-body">
 							<button type="button" class="btn btn-info pull-left cancel-btn" data-ui-sref="dashboard.home">Back</button>
 							<button type="button" data-ng-show="(userInfo.userType==2) && (budget.status==0)"
 							 class="btn btn-danger pull-left cancel-btn" data-toggle="modal" data-target="#myModal" data-ng-click="rejectButton()">Reject</button>
							<button type="button" data-ng-show="(userInfo.userType==2) && (budget.status==0)"
							 class="btn btn-primary pull-right save-btn" data-toggle="modal" data-target="#myModal" data-ng-click="approveButton()">Approve</button>
 							<button type="button" data-ng-show="(userInfo.userType==3) && (budget.status==1)"
 							 class="btn btn-danger pull-left cancel-btn" data-toggle="modal" data-target="#myModal" data-ng-click="rejectButton()">Reject</button>
							<button type="button" data-ng-show="(userInfo.userType==3) && (budget.status==1)"
							 class="btn btn-primary pull-right save-btn" data-toggle="modal" data-target="#myModal" data-ng-click="approveButton()">Approve</button>
 							<button type="button" data-ng-show="(userInfo.userType==5) && (budget.status==3)"
 							 class="btn btn-danger pull-left cancel-btn" data-toggle="modal" data-target="#myModal" data-ng-click="rejectButton()">Reject</button>
							<button type="button" data-ng-show="(userInfo.userType==5) && (budget.status==3)"
							 class="btn btn-primary pull-right save-btn" data-toggle="modal" data-target="#myModal" data-ng-click="approveButton()">Approve</button>

						</div>
					</div>
				</div>
			</div>
			</div>
		</form>
	</div>
   <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Remarks</h4>
        </div>
        <div class="modal-body">
 			<form name="userform1">
  			
					<div class="form-group ">
 					<textarea rows="3" cols="50" class="form-control"data-ng-model="form.remarks" required></textarea>
	           		  </div>
 		                
 		            <div class="panel-body">
		            		<button type="button" class="btn btn-warning pull-left cancel-btn" data-dismiss="modal">Cancel</button>
		    				<button type="button"  data-ng-click="approved()" data-ng-show="showApprove" class="btn btn-primary pull-right save-btn">Approve</button>
		    				<button type="button" data-ng-show="showReject" class="btn btn-danger pull-left cancel-btn" data-ng-click="rejected()">Reject</button>
 		            </div>
 		  	</form>
       </div>
       </div>
    </div>
  </div>
 